/***************************************************/
/* MINIMAL STYLES */
/* The following section defines styles that every HTML Help project should need. */

/* Specifies White Background color */
body {background-color:#FFFFFF; font-family:Verdana, sans-serif; font-size:8pt; color: #000000;}

/* The default style of P is red to alert you that you need to apply a style class, such as Body. */
P { margin-top:6.00pt; margin-bottom:6.00pt;}

BR { font-size:4.00pt; }

/* Use H1 for all topic headings. */
H1 { margin-top:3.00pt; margin-bottom:3.00pt; font-size:150%; font-weight:bold;  }

/* Use H2 for second-level headings. */
H2 { margin-top:9.00pt; margin-bottom:3.00pt; font-size:125%; font-weight:bold;  }

/* Use H3 for third-level headings. */
H3 { margin-top:6.00pt; margin-bottom:3.00pt; font-size:100%; font-weight:bold;  }

/* Use H4 for fourth-level headings. */
H4 { margin-top:6.00pt; margin-bottom:3.00pt; font-size:100%; font-weight:bold;  }

/* H5 and H6 have the same definition as H4 because you should not need this level of heading in one topic. If you need to use H5 or H6, consider breaking up your topic into more than one topic. */
H5 { margin-top:6.00pt; margin-bottom:3.00pt; font-size:100%; font-weight:bold;  }
H6 { margin-top:6.00pt; margin-bottom:3.00pt; font-size:100%; font-weight:bold;  }

/* Use the Anchor style class for graphic references on a line by themselves. */
P.Anchor { font-size:125%;  }

/* Use the Indent style classes to indent a paragraph. If you need to indent text below a list item, use <br><br> to start the new paragraph within the same set of <li></li> tags. If you need to indent a list within another list, nest the indented list within the first list's set of <ol></ol> or <ul></ul> tags. */
P.Indent1 { margin-left:12.00pt; margin-bottom:3.00pt;  }
P.Indent2 { margin-left:24.00pt; margin-bottom:3.00pt;  }
P.Indent3 { margin-left:36.00pt; margin-bottom:3.00pt;  }
P.Indent4 { margin-left:48.00pt; margin-bottom:3.00pt;  }
P.Indent5 { margin-left:60.00pt; margin-bottom:3.00pt;  }

/* Use the LI style for all list items. */
LI { margin-top:3.00pt; margin-bottom:3.00pt; }

/* Use the OL style for numbered lists. You do not have to type the number for each list item in a numbered list. */
OL { margin-left:22.00pt; margin-top:3.00pt; margin-bottom:3.00pt; text-indent:0pt; list-style-type: decimal; }

/* Use the OL style for numbered lists. Nested lists will use the bullet types according to the nesting scheme below */
ol ol {list-style-type:lower-alpha}
ol ol ol {list-style-type:decimal}
ol ol ol ol {list-style-type:lower-alpha}
ol ol ol ol ol {list-style-type:decimal}
ol ol ol ol ol ol {list-style-type:lower-alpha}
ol ol ol ol ol ol ol {list-style-type:decimal}
ol ol ol ol ol ol ol ol {list-style-type:lower-alpha}


/* Use the EquationNum style class for numbered lists of equations. You do not have to type the number for each list item in a numbered list. */
OL.EquationNum { margin-left:36.00pt; text-indent:0pt; list-style-type: decimal; }

/* Use the List-abc style class for lettered lists. You do not have to type the letter for each list item in a lettered list. */
OL.List-abc { margin-left:22.00pt; text-indent:0pt; list-style-type:lower-alpha; }

/* Use the UL style for bulleted lists. You do not have to type the bullet for each list item in a bulleted list. */
UL { margin-left:22.00pt; text-indent:0pt; margin-top:3.00pt; margin-bottom:3.00pt; list-style-type: disc; }

/* Use the UL style for bulleted lists. Nested lists will use the bullet types according to the nesting scheme below. NOTE: hyphen.gif required in same directory as minimal.css */
ul ul {list-style-image:url(hyphen.gif)}
ul ul ul {list-style-image:none;list-style-type:disc}
ul ul ul ul {list-style-image:url(hyphen.gif)}
ul ul ul ul ul {list-style-image:none;list-style-type:disc}
ul ul ul ul ul ul {list-style-image:url(hyphen.gif)}
ul ul ul ul ul ul ul {list-style-image:none;list-style-type:disc}
ul ul ul ul ul ul ul ul ul{list-style-image:url(hyphen.gif)}

/* Use the List-Box style class for bulleted lists with boxes instead of bullets. You do not have to type the box for each list item in a box list. */
UL.List-Box { list-style-image:url(box.gif); }

/* Use the List-Diamond style class for bulleted lists with diamonds instead of bullets. You do not have to type the diamond for each list item in a diamond list. */
UL.List-Diamond { list-style-image:url(diamond.gif); }

/* Use the List-Hyphen style class for bulleted lists with hyphens instead of bullets. You do not have to type the hyphen for each list item in a hyphen list. */
UL.List-Hyphen { list-style-image:url(hyphen.gif); }

/* Use the List-unsupported style class for bulleted lists with unsupported items. NOTE: unsupport.gif required in same directory as minimal.css */
.List-unsupported { list-style-image:url(unsupport.gif); }

/* Use the List-supported style class for bulleted lists with supported items. NOTE: support.gif required in same directory as minimal.css */
.List-supported { list-style-image:url(support.gif); }

table {font-size:100%; border-collapse:collapse;}
table, td, tr {border-color:black;}

/* for compatibility with old browsers */
table.rowsep thead tr th, 
table.rowsep tbody tr td {border-top:1px solid;border-bottom:1px solid;}
table.colsep thead tr th,
table.colsep tbody tr td {border-left:1px solid;border-right:1px solid;}

table.rowsep > thead > tr > th, 
table.rowsep > tbody > tr > td {border-top:1px solid;border-bottom:1px solid;}
table.colsep > thead > tr > th,
table.colsep > tbody > tr > td {border-left:1px solid;border-right:1px solid;}
table.frametop {border-top:1px solid;}
table.framebottom {border-bottom:1px solid;}
table.frameleft {border-left:1px solid;}
table.frameright {border-right:1px solid;}

table.simpletableborder {border:1px solid;}

/* Use the TD style for table cells in Borderless or Borderless-Wide tables. */
TD { vertical-align:top; padding:3px; }

/* Use the Icon style class for table cells that contain note, caution, warning, or tip icons, or LabVIEW datatype terminals. */
TD.Icon { width:40px; }

/* Use the TH style for table heading cells in Borderless or Borderless-Wide tables. */
TH { font-weight:bold; padding:3px; }

/* Use the Left-Align style class for table headings and cells that you want to left align instead of center align. */
.Left-Align { text-align:left; }

span.mathml-inline {vertical-align:middle;display:inline-block;}

div.mathml-block {margin-left:12.00pt;}

div.relinfo { margin-top:6.00pt; margin-bottom:6.00pt;}

div.familylinks { margin-top:6.00pt; margin-bottom:6.00pt;}

/*Use the .Note style class for notes, tips, cautions, and other additional information to create a hanging indent. */

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* DITA-OT Additons */


.apiname { font-family: Courier New; font-size: 100%; }

.cautiontitle {	color: #800000;	font-weight : bold; }

.container {
	margin-top : 5px;
	margin-bottom : 5px;
	width : 100%;
	border : thin Black;
}

.notetitle {
	font-weight : bold;
}

ul.simple {
	list-style-type:none;
	margin-left:0px;
	margin-top:0px; 
	margin-bottom:0px;
}

ul.simple li { 
	margin-top:0px; 
	margin-bottom:0px; 
}

ul.simple>li { 
	margin-top:0px; 
	margin-bottom:0px; 
}



/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/***************************************************/
/* CHARACTER FORMATS */
/* The following section defines character formats that every HTML Help project should need. */

/* CHARACTER FORMATS Updated to conform with the CSE HTML Validator Pro */
/* The following section defines character formats that every HTML Help project should need. */

/* Use the Dark-Red format for warnings or cautions. */
.Dark-Red { color: #800000 }

/* Use the Monospace format for code or syntax examples. */
.Monospace { font-family: Courier New; font-size: 100%; }

/* Use the Monospace-Bold format for messages and responses that the computer automatically prints to the screen. */
.Monospace-Bold { font-family: Courier New; font-weight: bold; font-size: 100%; }

/* Use the Monospace-Italic format to denote text that is a placeholder for a word or value that the user must supply. */
.Monospace-Italic { font-family: Courier New; font-style: italic; font-size: 100%; }

/* small class */
.smallFont { font-size:87.5%; }

/* Bold class */
.Bold { font-weight: bold; }

/* Italic class */
.Italic { font-style: italic; }

/* Use the Platform format to denote a specific platform. */
.Platform { color: #0000FF; font-weight: bold; }

/* Use the Symbol format for characters not in the Verdana character set. Use this format sparingly. When possible, you should use the correct ASCII code for the symbol or use a graphic to recreate the symbol. */
.Symbol { font-family: Symbol; }

/* Use the Red-text format to call attention to text that needs  information added or edited by techcomm */
.Red-text {color: #FF0000;}

/* Use the Green-Underline format for the green defintion in the conventions topic */
.Green-Underline {color: #007700; text-decoration : underline;}

/* Use the glossButton format for the glossary buttons used in the glossary topic */
.glossButton { font-size:12px; color:black; }

/* Use for text sections and hyphenated words that should not break at line wraps */
.nobreak{white-space:nowrap}



/* The following styles define the color of links. */
a:link { color: #007700 }
a:visited { color: #7F007F }
a:link:hover { color: #FF0000 }
a:link:active { color: #FF0000 }

/***************************************************
/* Forms */

form { margin-top:0pt; margin-bottom:3pt; color:black; }
select { font-size:100%; color:black; }

/*******************************************************
/* Margins */
/* Use these styles for block-level elements inside tables cells or list items where you do not want extra padding at the top or bottom of a cell. */
.noTopMargin { margin-top:0pt;}
.noBottomMargin { margin-bottom:0pt;}

/***************************************************/
/* CODE STYLES */
/* The following section defines styles that you need to format entire sections of code or syntax examples. If you have just a few words you need to format as a code or syntax example, use the Monospace character format. */

P.Code { margin-top:3.00pt; margin-bottom:0.00pt; font-family:Courier New;  }
P.Code1 { margin-left:12.00pt; margin-top:3.00pt; margin-bottom:0.00pt; font-family:Courier New;  }
P.Code2 { margin-left:24.00pt; margin-top:3.00pt; margin-bottom:0.00pt; font-family:Courier New;  }
P.Code3 { margin-left:36.00pt; margin-top:3.00pt; margin-bottom:0.00pt; font-family:Courier New;  }

